@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container{
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Open Sans', sans-serif;
}
.navbar-brand{
    text-decoration: none;
    white-space: nowrap;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    letter-spacing: .3rem;
}
.navbar{
   
    top:0;
    background-color:#FFFFFF;
}
.left-align{
    margin-left: auto;
}
.list-item li{
    list-style: none;
    justify-content: space-evenly;
}
.list-item>li>a{
    text-decoration: none;
    color: black;
    margin-right: .98rem;
    
}
.dropbtn:hover{
    background-color: #1b8d59;
}
.nav-item{
    display: flex;
    align-items: center;
}
.list-item{
    display: flex;
    align-items: center;
    
}
.logo{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    letter-spacing: 5px;
}
.nav-font{
    letter-spacing:.2em;
    font-weight: 600;
}
.button{
    background-color: #21b572;
    border: none;
    border-radius:.2em;
}
.desc{
    width: 70%;
    margin: 2em auto;
    text-align: center;
}
.font-color{
    color: #FFFFFF;
    padding: 0px;
}
li{
    letter-spacing: 1px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0;
    z-index: 1;
    border-radius: .2rem;
    
  }
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  .dropdown-content a{
      text-decoration: none;
      color: black;
      display: block;
      padding: 7px 12px;
  }
  .dropdown-content li{
      list-style: none;
  }
  .dropdown-content a:hover {
      background-color: #f1f1f1
}
.round-image{
    width:50px;
    height: 50px;
    border-radius:50%;
    margin-left: 1rem;
}
.flex-div{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
}
.flex-div-1{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content:end;
}
.flex-div-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-col-30{
    flex: 0 0 auto;
    width: 30%;
}
.flex-col-40{
    flex:0 0 auto;
    width: 40%;
}

.img-res{
    max-width: 100%;
    height: auto;
}
.bg-color{
    background-color: #CDEAF8;
    border-radius: .2rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-bottom: 2rem;
}
.data{
    text-align: center;
    font-family: 'Poppins', sans-serif !important;
    color: #000080;
}
.data>p,h2{
    margin: 0;
}
.input-form{
    width: 80%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    margin-right: 0;
}
.button{
    background-color: #21b572;
    border: none;
    border-radius:.2rem;
    padding: .5rem 1rem;
    font-family: 'Poppins', sans-serif !important;
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin: auto;
}
.margin-auto{
    margin: auto;
}
.medicine-section>p,.button{
    text-align: center;
    margin: 0;
}
.text-ash{
    color: gray;
}
.medicine-header{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-bottom: 2px solid gray;
}
@media (max-width: 768px){
    .bg-color{
        font-size: .5rem;
    }
    .body{
        font-size: .5rem;
    }
}
.medicine-header{
    color: #000080;
}